@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin regular-text {
  font-size: 0.875rem;
  font-weight: 400;
}
