//colors
$instaBlack: #0a0a0a;
$black: #000;
$white: #fff;
$grey: #8e8e8e;
$borderGray: #282828;
$borderGrayContent: #3f3f3f;
$metaBlue: #0095f6;

//font
$fontWeightRegular: 400;
$fontWeightLight: 300;
$fontWeightBold: 600;
$fontFamily: "Roboto";
