@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.gallery-header {
  width: 90%;

  @include tablet {
    width: 65%;
  }
  margin: 0 auto 1rem;
  border-top: 1px solid $borderGray;
  display: flex;
  justify-content: center;
  gap: 3.375rem;

  &__tab {
    padding: 1.125rem 0.5rem 1rem 0.125rem;
    color: $grey;
    text-transform: uppercase;
  }

  &__icon {
    width: 0.75rem;
    height: 0.75rem;
    fill: $grey;
    margin-right: 0.25rem;
  }

  &__tab--active {
    color: $white;
    border-top: 1px solid $white;
    margin-top: -1px;

    svg {
      fill: $white;
    }
  }
}
